RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################

### SETTING ROLES ###

RewriteRule ^projects/count$ controllers/projects_full_count/projects_full_count.php [L]

RewriteRule ^projects/full$ controllers/projects_full/projects_full.php [L]
## RewriteRule ^projects/full/([0-9]+)$ controllers/projects_full/projects_full.php?projectid=$1 [L]
## RewriteRule ^projects/full/search$ controllers/projects_full/search.php [L]

RewriteRule ^projects/info$ controllers/projects_info/projects.php [L]
RewriteRule ^projects/info/([0-9]+)$ controllers/projects_info/projects.php?projectid=$1 [L]
RewriteRule ^projects/info/active/([0-9]+)$ controllers/projects_info/active.php?projectid=$1 [L]
## RewriteRule ^projects/info/search$ controllers/projects_info/search.php [L]

RewriteRule ^projects/img$ controllers/projects_img/projects_img.php [L]
RewriteRule ^projects/img/([0-9]+)$ controllers/projects_img/projects_img.php?projectsimgid=$1 [L]
RewriteRule ^projects/img/active/([0-9]+)$ controllers/projects_img/active.php?projectsimgid=$1 [L]

RewriteRule ^projects/skill$ controllers/projects_skill/projects_skill.php [L]
RewriteRule ^projects/skill/([0-9]+)$ controllers/projects_skill/projects_skill.php?projskillid=$1 [L]
RewriteRule ^projects/skill/active/([0-9]+)$ controllers/projects_skill/active.php?projskillid=$1 [L]


RewriteRule ^skills$ controllers/skills/skills.php [L]
RewriteRule ^skills/([0-9]+)$ controllers/skills/skills.php?skillid=$1 [L]
RewriteRule ^skills/active/([0-9]+)$ controllers/skills/active.php?skillid=$1 [L]


RewriteRule ^certs$ controllers/certs/certs.php [L]
RewriteRule ^certs/([0-9]+)$ controllers/certs/certs.php?certid=$1 [L]
RewriteRule ^certs/active/([0-9]+)$ controllers/certs/active.php?certid=$1 [L]


RewriteRule ^upload.photo$ core/upload-photo.php [L]