RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################

### SETTING ROLES ###

RewriteRule ^projects$ controllers/projects/projects.php [L]
RewriteRule ^projects/([0-9]+)$ controllers/projects/projects.php?projectid=$1 [L]
RewriteRule ^projects/active/([0-9]+)$ controllers/projects/active.php?projectid=$1 [L]
RewriteRule ^projects/search$ controllers/projects/search.php [L]