@tailwind base;
@tailwind components;
@tailwind utilities;

/* START OF FONTS */
    @font-face {
        font-family: 'Fira Code';
        src: url('/fonts/FiraCode/firacode-variablefont_wght-webfont.woff2') format("woff2"),
            url('/fonts/FiraCode/firacode-variablefont_wght-webfont.woff') format("woff");
        font-display: swap;
    }
    @font-face {
        font-family: 'Fira Sans';
        src: url('/fonts/FiraSans/firasans-regular-webfont.woff2') format("woff2"),
            url('/fonts/FiraSans/firasans-regular-webfont.woff') format("woff");
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato-Black';
        src: url('/fonts/Lato/lato-blakc-webfont.woff2') format('woff2'),
            url('/fonts/Lato/lato-blakc-webfont.woff') format('woff');
        font-display: swap;
        font-weight: 900;
    }
    @font-face {
        font-family: 'Lato-Bold';
        src: url('/fonts/Lato/lato-bold-webfont.woff2') format('woff2'),
            url('/fonts/Lato/lato-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato-Semibold';
        src: url('/fonts/Lato/lato-semibold-webfont.woff2') format('woff2'),
            url('/fonts/Lato/lato-semibold-webfont.woff') format('woff');
        font-weight: 600;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato-Medium';
        src: url('/fonts/Lato/lato-medium-webfont.woff2') format('woff2'),
            url('/fonts/Lato/lato-medium-webfont.woff') format('woff');
        font-weight: 500;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato';
        src: url('/fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
            url('/fonts/Lato/lato-regular-webfont.woff') format('woff');
        font-weight: 400;
        font-display: swap;
    }
    @font-face {
        font-family: 'Lato-Light';
        src: url('/fonts/Lato/lato-light-webfont.woff2') format('woff2'),
            url('/fonts/Lato/lato-light-webfont.woff') format('woff');
        font-weight: 300;
        font-display: swap;
    }
/* END OF FONTS */

@keyframes blinking_cursor {
    0%, 100% { opacity: 1; }
    25%, 75% { opacity: 0.5; }
    50% { opacity: 0; }
}

@layer base{
    :root{
        --dark_bg: 15, 15, 15;
        --light_bg: 241, 241, 241;
        --menu_hover: 39, 39, 39;
        --dark2: 18, 18, 18;
        --text_primary: 255, 255, 255;
        --searchBox_focus: 62, 166, 255;
        
        --warning: 177 130 47;
        --cancel: 127 127 127;
        --alert: 220 38 38;
    }

    html, body{ @apply scroll-smooth; }
    body{
        @apply overflow-x-hidden font-text-lato text-white bg-dark_bg;
    }
    input, textarea, button{ @apply outline-none focus:outline-none; }
    img, video, button{ @apply select-none; }
    h1,h2,h3,h4,h5,h6{ @apply font-bold font-text-lato_b; }

    h1{ @apply text-h1 leading-h1 mb-4; }
    h2{ @apply text-h2 leading-h2 mb-2; }
    h3{ @apply text-h3 leading-h3 mb-2; }
    h4{ @apply text-h4 leading-h4 mb-2; }
    h5{ @apply text-h5 leading-h5 mb-2; }
    h6{ @apply text-h6 leading-h6 mb-2; }
    p{ @apply text-p leading-p mb-2; }
    small{@apply text-[14px] leading-[14px];}
    span.code{@apply font-text-firacode; }
    a,button{ @apply cursor-pointer; }
    section{
        @apply py-py100 relative w-full
        odd:bg-darkGray even:bg-dark;
    }

    .container{
        @apply w-full !max-w-none mx-a
        px-container_mobile lg:px-container_desktop;
    }
}

@layer components{
/* START OF SCROLLBAR STUFF */
    /* Scrollbar Width */
    body::-webkit-scrollbar {
        @apply w-[15px];
    }
    /* Scrollbar Track */
    body::-webkit-scrollbar-track {
        @apply bg-dark;
    }
    /* Scrollbar Handle */
    body::-webkit-scrollbar-thumb {
        @apply bg-light hover:bg-white
        rounded-sm bg-clip-content
        border-solid border-2 border-transparent;
    }
    /* Scrollbar Buttons */
    body::-webkit-scrollbar-button:single-button {
        @apply block bg-dark h-[15px]
        bg-clip-content bg-contain bg-no-repeat bg-center;
    }
    body::-webkit-scrollbar-button:single-button:vertical:decrement {
        @apply bg-up_arrow hover:bg-up_arrow_alt;
    }
    body::-webkit-scrollbar-button:single-button:vertical:increment {
        @apply bg-down_arrow hover:bg-down_arrow_alt;
    }

    /* Scrollbar Width */
    .custom-scroll_b::-webkit-scrollbar {
        @apply w-0 lg:w-[7px];
    }
    /* Scrollbar Track */
    .custom-scroll_b::-webkit-scrollbar-track {
        @apply bg-dark_bg;
    }
    /* Scrollbar Handle */
    .custom-scroll_b::-webkit-scrollbar-thumb {
        @apply bg-transparent rounded-lg;
    }
    /* Scrollbar Handle appears on hover */
    .custom-scroll_b:hover::-webkit-scrollbar-thumb{
        @apply bg-darkGray;
    }
    /* Scrollbar Buttons */
    .custom-scroll_b::-webkit-scrollbar-button:single-button {
        @apply block bg-dark_bg w-[7px] h-[15px]
        bg-clip-content bg-contain bg-no-repeat bg-center bg-none;
    }
    .custom-scroll_b:hover::-webkit-scrollbar-button:single-button:vertical:decrement {
        @apply bg-up_arrow hover:bg-up_arrow_alt;
    }
    .custom-scroll_b:hover::-webkit-scrollbar-button:single-button:vertical:increment {
        @apply bg-down_arrow hover:bg-down_arrow_alt;
    }
/* END OF SCROLLBAR STUFF */

/* START OF REUSABLE CLASSES */
    .input-wrap{
        @apply mb-4 relative;
        label{
            @apply mb-1 px-4 block text-base absolute ty-a 
            text-dark/30 font-bold select-none
            transition-all duration-200 pointer-events-none;
        }
        input, select, textarea, .textarea{
            @apply block w-full pb-2 pt-6 px-4 rounded-[15px]
            border-2 text-dark bg-light
            focus:border-blueGray focus:bg-dark/10 focus:text-white
            transition-all duration-200 resize-none
            custom-scroll_b;
        }
        input:focus ~ label,
        select:focus ~ label,
        textarea:focus ~ label,
        .textarea:focus ~ label,
        input:valid ~ label,
        select:valid ~ label,
        textarea:valid ~ label
        .textarea:valid ~ label,
        input:not(:empty) ~ label,
        select:not(:empty) ~ label,
        textarea:not(:empty) ~ label,
        .textarea:not(:empty) ~ label
        { @apply -top-6 translate-y-8 text-xs px-5; }

        input:focus ~ label,
        select:focus ~ label,
        textarea:focus ~ label
        { @apply !text-white; }

        input:not(:empty) ~ label,
        select:not(:empty) ~ label,
        textarea:not(:empty) ~ label,
        .textarea:not(:empty) ~ label
        { @apply text-dark/30; }

        small{
            @apply absolute top-2 right-6 text-red-500 italic text-xs;
        }
        select{
            option{
                @apply bg-dark
            }
        }
    }

    /* SECTIONS */
    section{
        .sectionContent{
            @apply mb-[clamp(64px,5.208vw,200px)] relative;
        }
        .sectionHeader{
            @apply mb-12;
            h1, h3{
                @apply flex center text-center gap-4;
                svg{ @apply hidden sm:block; }
            }
            h1{ @apply md:gap-8; }
        }
        .sectionButton{
            @apply f-col-center cursor-pointer
            absolute tx-a bottom-1 text-white hover:text-blueGray
            transition-all duration-500;
            svg{ @apply text-h1 leading-h1 cursor-pointer; }
        }
    }

    /* TOOLTIP */
    .tooltip, .tooltip-bottom{
        @apply text-base relative after:hover:scale-100;
    }
    .tooltip:after, .tooltip-bottom:after{
        @apply p-0.5 px-1.5 rounded-md
        absolute content-[attr(data-tooltip)]
        text-xs text-white tx-a z-[2]
        scale-0 transition-transform;
    }
    .tooltip:after{
        @apply bottom-[calc(100%+10px)] bg-lightGray;
    }
    .tooltip-bottom:after{
        @apply top-[calc(100%+10px)] bg-darkGray;
    }

    /* PDF MODAL */
    .pdfModal_parent .pdfobject-container{ @apply h-[99%] pb-6; }

    /* BUTTONS */
    .btn{
        @apply px-8  py-2
        text-p text-center font-semibold
        border-none border-transparent
        bg-transparent rounded-full text-white
        transition-all duration-300
        hover:bg-light hover:text-dark;
    }
    .btn--light{
        @apply bg-light hover:bg-darkBlue
        hover:text-white text-dark;
    }
    .btn--darkBlue{ @apply bg-darkBlue text-white; }
    .btn--termGreen{ @apply bg-termGreen/70 ; }
    .btn--blueGray{ @apply bg-blueGray text-dark; }
    .btn-form{ @apply p-2 w-1/2 flex center gap-2; }
    .btn--cancel{ @apply bg-cancel text-white; }
    .btn--alert{ @apply bg-alert text-white; }
    .btn--warning{ @apply bg-warning text-white; }
    .btn--form{ @apply p-2 flex center gap-2; }
/* END OF REUSABLE CLASSES */
    
/* START OF PORTFOLIO STUFF */
    .header{
        @apply bg-dark py-4 fixed w-full z-40
        transition-all duration-300;
        svg:first-of-type{
            @apply h-7 md:h-4 w-fit;
        }
        .desktop_nav{
            @apply w-fit hidden md:block;
            ul{ @apply flex items-center gap-8; }
        }
        .mobile_nav{
            @apply md:hidden;
            ul{
                @apply f-col-center gap-10
                w-[280px] h-screen
                absolute top-0  bg-darkBlue
                transition-all duration-300;
                li{ @apply text-3xl; }
            }
        }
        ul>li>a{
            @apply text-white hover:text-blueGray
            transition-all duration-300;
        }
        button.burger{
            @apply z-50 block md:hidden;
            svg{
                @apply h-7 w-fit text-2xl text-white;
            }
        }
    }

    .footer{
        @apply bg-dark py-4;
        .container{
            @apply f-col-center md:flex-row flex-wrap md:flex-nowrap md:between-center gap-2;
            div{
                @apply flex flex-col md:flex-row items-center gap-3;
                svg{ @apply text-2xl text-white; }
            }
        }
    }

    section.banner{
        @apply h-full min-h-[98vh];
        .container{
            @apply f-col-center h-full w-full;
        }
        .bannerContent{
            @apply w-full h-full f-col gap-6 py-10;
            p.term, p.termGreen{
                @apply font-text-firacode text-h2 leading-h1
                font-bold text-wrap break-words mb-0
                transition-all duration-300 *:transition-all *:duration-300 select-none;
            }
            p.term{
                @apply text-white flex flex-wrap gap-y-6;
                button{
                    @apply hover:text-blueGray w-full md:w-1/2 text-left;
                }
            }
            p.termGreen{
                @apply text-termGreen;
                .termHint{ @apply text-yellow-500; }
                .blinking{ @apply animate-blinking_cursor; }
            }
        }
    }

    section.about{
        .aboutContent{
            @apply grid lg:grid-cols-2 gap-0 items-center;
            .aboutImg>img{
                @apply w-1/2 mx-a lg:w-3/4 max-w-[500px];
            }
            .aboutText{
                @apply f-col center lg:center-start h-full;
                .aboutText__greeting{ @apply mb-6; }
                .aboutText__intro{
                    @apply text-h1_5 leading-h1_5
                    text-balance break-words;
                    span{ @apply text-blueGray; }
                }
                .aboutText__intro{
                    @apply w-full lg:w-3/4 mb-10;
                }
                .aboutText__description{
                    @apply w-fit lg:w-3/4
                    text-balance break-words
                    text-h4_5 leading-[1.25] mb-10
                    relative flex items-center gap-0;
                    .aboutText__description_icons{
                        @apply relative min-w-16 w-full max-w-16
                        lg:absolute lg:left-full lg:ty-a
                        hidden md:flex flex-wrap items-center gap-4 text-2xl
                        opacity-100 lg:opacity-0
                        transition-all duration-300;
                    }
                }
                .aboutText__trivia{
                    @apply w-fit mb-0
                    italic opacity-80 relative
                    flex items-center gap-0
                    transition-all duration-300;
                    .aboutText__trivia_foodIcons{
                        @apply relative min-w-16 w-full max-w-16
                        lg:absolute left-[10%] lg:left-[120%] bottom-0 lg:-bottom-1
                        hidden md:flex items-center gap-6 text-2xl 
                        opacity-100 lg:opacity-0
                        transition-all duration-300;
                    }
                }
                .aboutText__trivia:hover, .aboutText__description:hover
                { @apply lg:opacity-100 *:lg:opacity-100; }
                .aboutContact{
                    @apply mt-16;
                    h3{ @apply mb-6 text-center lg:text-left; }
                    ul{
                        @apply gap-12 px-0 start-center lg:center;
                        svg{ @apply text-h3 leading-h3; }
                    }
                }
            }
        }
    }

    section.projects{
        .project_cards_parent{
            .project_selector{
                .project_selector_button{
                    @apply py-2 px-4 rounded-[5px]
                    bg-darkGray hover:bg-blueGray
                    transition-all duration-300;
                }
                button.active{ @apply bg-darkBlue underline; }
            }
        }
        .project__cards{
            @apply f-col gap-12;
            
            .project__card{
                @apply bg-[#555] hover:bg-darkBlue rounded-[25px]
                w-full h-fit
                flex center flex-wrap lg:flex-nowrap gap-6
                py-10 xl:py-6 px-8
                transition-all duration-300;
                .project__card_text{
                    @apply text-white *:select-none
                    w-full lg:w-1/2 f-col gap-4;
                    .project_title{
                        @apply text-balance;
                        .project_year{ @apply text-h4; }
                    }
                    .project_section{
                        .project_section_label{
                            @apply underline capitalize;
                        }
                        .project_description{ @apply leading-[2.15] pl-2 text-balance; }
                        .project_skills{
                            @apply flex items-center flex-wrap gap-x-8 gap-y-4 p-2;
                            li{
                                @apply rounded-full bg-transparent size-h3_outer p-1
                                f-col-center transition-all duration-300
                                ring-1 ring-transparent hover:ring-termGreen;
                                svg{ @apply text-h3 leading-none; }
                            }
                        }
                    }
                }

                .project__card_slider{
                    @apply w-full lg:w-1/2 h-full -order-1;
                    .slider-container{
                        @apply flex flex-wrap lg:flex-wrap center gap-4
                        w-full h-full center;
                        .mainSlider{
                            @apply h-full w-full;
                            .slick-slide div,
                            .slick-slide img{ 
                                @apply max-h-[350px] h-full w-full object-contain rounded-[15px]; }
                        }
                        .thumbsSlider{
                            @apply w-full !h-fit;
                            .slick-list{
                                @apply !h-fit;
                                .slick-track{
                                    @apply flex items-center gap-4;
                                    img{ @apply h-16 lg:h-20 object-cover aspect-square rounded-[10px]; }
                                }
                            }
                        }
                    }
                    img{ @apply object-center; }
                }
            }
            .project__card:nth-child(even){
                @apply text-left flex-row;
                .project_skills{ @apply justify-start; }
            }
            .project__card:nth-child(odd){
                @apply text-right flex-row-reverse;
                .project_skills{ @apply justify-end; }
            }
        }
    }

    section.education{
        .education__cards{
            @apply flex flex-col gap-8;
        }
        .education__cards::after{
            @apply absolute content-[''] txy-a
            bg-light h-[95%] w-2 rounded-full z-0
            transition-all duration-300;
        }
        .education__card{
            @apply bg-light hover:bg-darkBlue text-dark hover:text-white
            w-full max-w-[850px] px-6 py-6 
            z-[1] mx-a rounded-[25px] select-none
            border-none border-0 border-transparent
            grid sm:grid-cols-[185px_1fr] center gap-3 md:gap-6
            transition-all duration-300
            even:xl:-translate-x-1/4 odd:xl:translate-x-1/4;
            span{
                @apply text-h3 leading-h3 font-bold
                text-wrap text-center
                w-full sm:max-w-[185px];
            }
            div{
                @apply f-col gap-1 w-full text-center sm:text-left;
                h3,p{ @apply text-wrap mb-0; }
            }
        }
    }

    section.skills{
        .skill__cards{
            @apply flex flex-wrap center gap-10 transition-all duration-300;
            .skill__card{
                @apply rounded-[25px] relative z-[1]
                size-[125px] sm:size-[150px] lg:size-[200px]
                overflow-hidden select-none
                border-none border-transparent
                transition-all duration-300;
                .skill__card_img{
                    @apply f-col-center w-full h-[70%] lg:h-full bg-light
                    transition-all duration-300;
                    img{ @apply size-[50px] sm:size-[65px] lg:size-[100px]; }
                }
                .skill__card_label{
                    @apply font-text-firasans text-center
                    text-[clamp(10px,4vw,12px)] md:text-h6 leading-p
                    text-wrap line-clamp-2 text-ellipsis
                    bg-dark rounded-b-[25px]
                    h-fit w-full py-3 px-2 mb-0 z-[2]
                    absolute left-0 bottom-0 lg:-bottom-full
                    transition-all duration-300;
                }
            }
            .skill__card:hover{
                .skill__card_img{ @apply lg:h-[85%]; img{@apply animate-rotate_slow;} }
                .skill__card_label{ @apply lg:bottom-0; }
            }
        }
    }

    section.certifications{
        .cert__cards{
            @apply flex flex-wrap center gap-6;
            .cert__card{
                @apply h-[400px]
                w-[calc(100%-20px)] md:w-[calc(50%-20px)]
                xl:w-[calc(33.33%-20px)] 3xl:max-w-[calc(25%-20px)]
                bg-light overflow-hidden rounded-[25px]
                relative
                transition-all duration-300;
                div{
                    @apply h-full max-h-[338px] w-full
                    transition-all duration-300 overflow-hidden;
                    .cert__card_img{
                        @apply object-cover object-center z-[1]
                        w-full h-full rounded-t-[25px] overflow-hidden
                        transition-all duration-300 scale-110;
                    }
                }
                .__react_modal_image__modal_container{
                    @apply h-full max-h-none w-full;
                    .__react_modal_image__header{
                        @apply flex between-center h-fit;
                        .__react_modal_image__icon_menu{
                            @apply flex center order-2;
                            a{ @apply mx-1; }
                        }
                    }
                    div{ @apply max-h-none w-full; }
                }
                .cert__card_text{
                    @apply f-col center px-5 py-2
                    bg-darkBlue/10 text-dark text-center
                    w-full h-[64px] !max-h-none select-none
                    absolute left-0 bottom-0 z-[2]
                    transition-all duration-500;
                    h4{ @apply line-clamp-2 text-ellipsis transition-font-size duration-300; }
                    p{ @apply hidden truncate; }
                }
            }
            .cert__card:hover{
                @apply bg-darkBlue;
                .cert__card_img{
                    @apply object-contain scale-100 z-[3];
                }
                .cert__card_text{
                    @apply text-white bg-darkBlue bottom-0 h-[84px];
                    h4{ @apply underline; }
                    p{ @apply block; }
                    h4, p { @apply text-[14px] leading-[14px] mb-1; }
                }
            }
        }
    }

    section.contact{
        .sectionContent{
            @apply grid lg:grid-cols-2 xl:grid-cols-[75%_25%] items-center gap-12 w-full;
            form.contact_form{
                @apply w-full;
                .input-wrap{
                    @apply xl:w-1/2 xl:mx-a mb-8;
                    textarea{ @apply h-40; }
                } 
            }
            .contactInfo{
                @apply w-full;
                .contactInfo_content{
                    @apply f-col gap-y-12;
                    a{
                        @apply grid grid-cols-[25px_1fr] center gap-4 hover:underline;
                        svg{ @apply text-2xl text-center; }
                    }
                }
            }
        }
        .sectionContent::after{
            @apply absolute content-[''] bg-light
            lg:tx-a lg:top-0 xl:left-3/4 xl:-translate-x-3/4
            lg:h-full lg:w-0.5 
            rounded-full opacity-60
            top-[64%] left-0
            w-full h-0.5
            transition-none;
        }
    }
/* END OF PORTFOLIO STUFF */

/* START OF DASHBOARD STUFF */
    .dash_page{
        .yt_header{
            .searchBox input:focus ~ .hidden-search-icon{
                @apply -order-1 block;
            }
            .searchBox:has(input:focus){
                @apply ml-0 w-[calc(100%+32px)] border-searchBox_focus;
            }
            /* .box:has(input:focus){ @apply border-searchBox_focus; } */
            svg{ @apply fill-white; }
        }
    
        .sidebar-collapsed button, .sidebar-collapsed a{
            @apply w-16 pt-4 pb-[14px] rounded-lg
            text-center f-col-center gap-[5px]
            bg-transparent hover:bg-menu_hover;
            svg{ @apply fill-light_bg w-6 h-6; }
            small{ @apply text-[10px] text-text_primary; }
        }
        .sidebar-expanded{
            svg { @apply fill-light_bg; }
            .sidebar-links{
                @apply px-3 py-2.5 border-b border-light bg-dark_bg border-opacity-40;
                h3{ @apply ft-md text-base; }
                .sidebar-link-item{
                    @apply flex items-center gap-6 rounded-xl bg-transparent hover:bg-menu_hover w-full px-3.5 py-2;
                    svg{ @apply w-6 h-6; }
                    p{ @apply text-sm leading-none m-0; }
                }
                .sidebar-link-item.active{ @apply bg-menu_hover; }
            }
            .sidebar-links:last-child{ @apply !border-transparent; }
        }

        .dash_heading{
            @apply w-full flex between-center mb-4;
            h3{ @apply underline text-termGreen; }
            .dash-new{ @apply flex items-center gap-2; }
        }

        table{
            @apply f-col gap-2 w-full;
            td,th{ @apply select-none; }
            td:not(:last-of-type), th:not(:last-of-type) { @apply border-r border-r-white; }
            thead{ @apply bg-dark underline; }
            tr { @apply grid text-center py-4; }
            tbody{
                @apply f-col gap-y-2;
                tr{
                    @apply even:bg-searchBox_focus/20 odd:bg-darkGray
                    hover:bg-termGreen/10
                    transition-all duration-300;
                    td{ @apply line-clamp-8 text-ellipsis px-2; }
                }
                
            }
            .table-action{
                ul{ @apply flex justify-center gap-4; }
                button{
                    @apply border-b-4 border-b-transparent hover:border-b-light
                    transition-all duration-300;
                    svg{ @apply text-2xl; }
                }
            }
            tr.single-row{ @apply !grid-cols-1; }
        }
        table.dash_project_full tr { @apply grid-cols-7; }
        table.dash_project_info tr { @apply grid-cols-8; }
        table.dash_project_img tr { @apply grid-cols-7; }
        table.dash_project_skill tr { @apply grid-cols-8; }
        table.dash_skills tr { @apply grid-cols-6; }
        table.dash_certs tr { @apply grid-cols-7; }
        table.dash_users tr { @apply grid-cols-5; }

        .db-grid{
            @apply grid grid-cols-auto-fill gap-6 w-full p-6;
            .db-tbl{
                @apply bg-lightGray hover:bg-darkBlue 
                py-6 px-4 text-white rounded-[15px]
                transition-all duration-300
                text-center f-col-center;
                h3{ @apply mb-6 underline; }
            }
        }
    }
    .modal_wrapper{
        .main-modal{
            @apply w-[360px] bg-dark text-white h-full
            f-col gap-2;
            .modal-header{
                @apply pt-6 px-4 relative;
                button{
                    @apply absolute top-[25px] right-4;
                }
            }
            .modal-body{
                @apply p-4;
                form{
                    @apply f-col h-[calc(100vh-95px)];
                    .form-action{
                        @apply flex between-center gap-2;
                    }
                }
            }
        }
        .input-wrap{
            @apply overflow-hidden;
            label{ @apply !text-dark/80 font-bold; }
            small{ @apply font-bold; }
            .textarea ~ label{
                @apply text-xs bg-light rounded-t-[15px]
                top-0 translate-y-0
                px-3 mx-2 mt-[2px] pt-2 w-[300px];
            }
            .textarea{ @apply pt-8; }
            .textarea:focus ~ label{ @apply bg-dark; }
        }
        .input-photo{
            @apply pt-8 bg-lightGray/50 rounded-[15px] f-col-center;
            #myFile{
                @apply opacity-0 absolute
                p-0 m-0 h-full w-full
                top-0 left-0 cursor-pointer;
            }
            .file-upload-label{
                @apply !top-4 !left-0 px-4 text-sm text-white;
            }
            img{
                @apply bg-light m-auto
                max-h-72 h-full w-full
                object-contain object-center
                border border-white
                rounded-[5px];
            }
            .upload-box, .upload-box-alt{
                @apply  gap-2 rounded-b-[15px] bg-lightGray
                transition-all duration-300 w-full;
            }
            .upload-box{ @apply py-4 f-col-center; }
            .upload-box-alt{ @apply py-2 flex center; }
            label{@apply !text-white;}
        }
        .input-photo:hover{
            .upload-box, .upload-box-alt{ @apply bg-darkBlue/80; }
        }
        
    }
/* END OF DASHBOARD STUFF */
}

@layer utilities{
    .f-col{ @apply flex flex-col; }
    .f-col-center{ @apply flex flex-col justify-center items-center; }
    .start {@apply justify-start items-start; }
    .start-center {@apply justify-start items-center; }
    .start-end {@apply justify-start items-end; }
    .center-start {@apply justify-center items-start; }
    .center {@apply justify-center items-center; }
    .center-end {@apply justify-center items-end; }
    .end-start { @apply justify-end items-start; }
    .between-start {@apply justify-between items-start; }
    .between-center {@apply justify-between items-center; }
    .between-end {@apply justify-between items-end; }
    .end-start { @apply justify-end items-start; }
    .end-center { @apply justify-end items-center; }
    .end { @apply justify-end items-end; }

    .ft-el{ @apply font-extralight }
    .ft-lt{ @apply font-light }
    .ft-nm{ @apply font-normal }
    .ft-md{ @apply font-medium }
    .ft-sb{ @apply font-semibold }
    .ft-b{ @apply font-bold }
    .ft-ex{ @apply font-extrabold }

    .mx-a{ @apply mx-auto }

    .tx-a{ @apply left-1/2 -translate-x-1/2 }
    .ty-a{ @apply top-1/2 -translate-y-1/2 }
    .txy-a{ @apply top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 }

    .scrollbar-gutter{
        scrollbar-width: auto;
        scrollbar-gutter: stable;
    }
}

.slick-slide{
    @apply cursor-pointer;
}

.spinner circle {
    fill: none;
    /* stroke: var(--light); */
    stroke-width: 6;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1s ease-in-out infinite;
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
  
    100% {
      stroke-dashoffset: -110px;
    }
  }

.loading-bar{
    @apply pointer-events-none cursor-default;
}
.loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-[180%] h-full  bg-gradient-to-r from-transparent via-black/40 to-transparent  animate-loading;
}